/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  * END OF DEFAULT STYLES, 
  * custom styles below =>
  * Mobile first logic is used
  */

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope/static/Manrope-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope/static/Manrope-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope/static/Manrope-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope/static/Manrope-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope/static/Manrope-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope/static/Manrope-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope/static/Manrope-ExtraLight.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

:root {
  --main-black: #131313;
  --light-grey: #f8f8f8;
  --dark-grey: #cccccc;
  --main-white: #ffffff;
  --accent-blue: #005aeb;
  --main-font: "Manrope", sans-serif;
}

html,
body,
main {
  width: 100%;
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  overflow-x: hidden;
}
body {
  font-family: var(--main-font);
  position: relative;
  overflow-x: hidden;
  max-width: 100vw;
  width: 100%;
}
a {
  color: var(--main-black);
  text-decoration: none;
}

.headline-1 {
  font-size: 28px;
  font-weight: 700;
  line-height: 30.8px;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--main-black, #131313);
}

.headline-2 {
  font-size: 24px;
  font-weight: 800;
  line-height: 21.6px;
  letter-spacing: -0.01em;
  text-align: left;
  color: var(--main-black, #131313);
}

.subhead {
  font-size: 17px;
  font-weight: 500;
  line-height: 22.1px;
  text-align: left;
  color: var(--main-black, #131313);
  text-transform: uppercase;
}

.body-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 18.2px;
  text-align: left;
  color: var(--main-black, #131313);
}
.container-colorized .body-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 18.2px;
}

.caption {
  font-size: 14px;
  font-weight: 500;
  line-height: 18.9px;
  text-align: left;
  color: var(--main-black, #131313);
}

.label {
  opacity: 40%;
}

.wrapper {
  width: 100%;
  box-sizing: border-box;
  margin: 0 0 80px;
}

.container-colorized {
  background-color: var(--light-grey);
  border-radius: 20px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: space-between;
  min-height: 180px;
}

.hero-intro {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 40px;
}

.main-title {
  padding: 0 24px;
  margin-bottom: 40px;
}

.advantages-container {
  display: grid;
  grid-gap: 16px;
  grid-row: 180px;
}

.main-header {
  height: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 0 24px;
  margin-bottom: 40px;
}

.header-logo {
  height: 27px;
  width: auto;
}
.phone-link {
  text-decoration: none;
  color: var(--main-black);
  margin-right: 0;
  white-space: nowrap;
  overflow: hidden;
}
.header-desktop-menu {
  margin: 0 auto;
  display: none;
  visibility: hidden;
}
.header-contacts {
  display: flex;
  justify-content: end;
  align-items: center;
}
.header-menu-item:not(:last-child) {
  margin-right: 24px;
}
.header-menu-item a {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s;
}
.header-menu-item:hover a {
  color: var(--accent-blue);
  transition: all 0.2s;
}
.header-messenger-link {
  cursor: pointer;
  color: var(--main-black);
  transition: all 0.2s;
}
.header-messenger-link:hover {
  color: var(--accent-blue);
  transition: all 0.2s;
}
.header-contacts .header-messenger-link {
  visibility: hidden;
  display: none;
}
.icon-button {
  all: unset;
  cursor: pointer;
  color: var(--accent-blue);
  transition: all 0.2s;
}
.icon-button:hover {
  color: var(--main-black);
  transition: all 0.2s;
}
.wa-link {
  margin-right: 16px;
}
.hamburger-button {
  margin-left: 12px;
}

.backdrop {
  /* visibility: hidden; */
  /* display: none; */
  z-index: 100;
  opacity: 0;

  animation-duration: 2s;
}
.popup-menu-visible {
  visibility: visible;
  display: flex;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  opacity: 1;
  animation-duration: 2s;
}

.freeze-body {
  position: absolute;
  overflow: hidden;
}

.popup-menu-visible {
  display: flex;

  -webkit-animation: fadeInFromNone 0.3s ease-out;
  -moz-animation: fadeInFromNone 0.3s ease-out;
  -o-animation: fadeInFromNone 0.3s ease-out;
  animation: fadeInFromNone 0.3s ease-out;
}
.popup-menu-hidden {
  -webkit-animation: fadeOutToNone 0.3s ease-out;
  -moz-animation: fadeOutToNone 0.3s ease-out;
  -o-animation: fadeOutToNone 0.3s ease-out;
  animation: fadeOutToNone 0.3s ease-out;
}
.popup-menu-wrapper {
  transform: translateX(100%);
  transition: all 0.1s;
}

.popup-menu-visible .popup-menu-wrapper {
  transform: translateX(0);
  transition: all 0.1s;
}
@-webkit-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: flex;
    opacity: 0;
  }

  100% {
    display: flex;
    opacity: 1;
  }
}

@-moz-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: flex;
    opacity: 0;
  }

  100% {
    display: flex;
    opacity: 1;
  }
}

@-o-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: flex;
    opacity: 0;
  }

  100% {
    display: flex;
    opacity: 1;
  }
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: flex;
    opacity: 0;
  }

  100% {
    display: flex;
    opacity: 1;
  }
}

@-webkit-keyframes fadeOutToNone {
  0% {
    display: flex;
    opacity: 1;
  }

  50% {
    display: flex;
    opacity: 0;
  }

  100% {
    display: none;
    opacity: 0;
  }
}

@-moz-keyframes fadeOutToNone {
  0% {
    display: flex;
    opacity: 1;
  }

  50% {
    display: flex;
    opacity: 0;
  }

  100% {
    display: none;
    opacity: 0;
  }
}

@-o-keyframes fadeOutToNone {
  0% {
    display: flex;
    opacity: 1;
  }

  50% {
    display: flex;
    opacity: 0;
  }

  100% {
    display: none;
    opacity: 0;
  }
}

@keyframes fadeOutToNone {
  0% {
    display: flex;
    opacity: 1;
  }

  50% {
    display: flex;
    opacity: 0;
  }

  100% {
    display: none;
    opacity: 0;
  }
}

.popup-menu-wrapper {
  width: 240px;
  height: 100vh;
  min-height: 480px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 16px;
  padding: 24px;
  transition: all 0.1s;
}
.popup-menu-cross-button {
  position: absolute;
  top: 8px;
  right: 16px;
}
.popup-menu-logo-block {
  margin-bottom: 40px;
}
.popup-menu-links {
  margin-bottom: 40px;
}
.popup-menu-links .header-menu-item {
  height: 32px;
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}
.popup-menu-wrapper .phone-link {
  margin-bottom: 16px;
}
.popup-menu-messengers {
  margin-bottom: 40px;
}

.popup-menu-address-label {
  margin-bottom: 4px;
}
.popup-menu-address-block {
  margin-bottom: 12px;
}
.primary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-weight: 500;
  padding: 0 16px;
  border-radius: 8px;
  border: none;
  background-color: var(--accent-blue);
  color: white;
  cursor: pointer;
  transition: all 0.2s;
  font-family: var(--main-font);
  font-size: 16px;
}
.primary-button:hover {
  background-color: var(--main-black);
  transition: all 0.2s;
}
.primary-button:disabled {
  background-color: var(--dark-grey);
}

.hero-slider {
  margin-bottom: 40px;
}

.hero-swiper {
  width: 100%;
  height: 640px;
  overflow: hidden;
  position: relative;
}

.swiper-slide {
  height: 100%;
  width: 100vw;
  border-radius: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.swiper-slide-next,
.swiper-slide-prev {
  opacity: 1;
}

.swiper-pagination {
  position: absolute;
  bottom: 16px;
  left: 16px;
  height: 10px;
  z-index: 100;
  width: 100%;
  max-width: calc(100vw - 32px);
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.swiper-pagination-bullet {
  display: flex;
  height: 8px;
  width: 8px;
  background-color: var(--main-white);
  margin: 0 4px;
  border-radius: 100%;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  background-color: var(--accent-blue);
  cursor: default;
}

.projects-block.portfolio-tab {
  display: none;
  visibility: hidden;
}
.projects-block.portfolio-tab.active {
  display: flex;
  visibility: visible;
}

.projects-actions {
  display: flex;
  flex-direction: column;
}

.project-tabs-controls {
  display: flex;
  flex-wrap: wrap;
  margin: 8px 16px 12px;
}

.project-tabs-controls > button {
  margin: 0 12px 12px 0;
}

.project-tabs-controls > button:last-child {
  margin: 0 0 12px 0;
}

button.filter-link {
  outline: none;
  border: none;
  cursor: pointer;
}

.swiper-slide img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: auto;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}
.swiper-slide-content {
  position: absolute;
  z-index: 20;
  background-color: rgba(246, 246, 246, 0.8);
  padding: 16px;
  border-radius: 8px;
  bottom: 48px;
  left: 16px;
}
.swiper-slide-content h2 {
  margin-bottom: 12px;
}
.hero-swiper-next,
.hero-swiper-previous {
  z-index: 10;
  transform: translateY(-50%);
  position: absolute;
  width: 24px;
  height: 24px;
  transition: all 0.2s;
  color: var(--accent-blue);
}
.hero-swiper-next:not(.swiper-button-disabled),
.hero-swiper-previous:not(.swiper-button-disabled) {
  cursor: pointer;
}
.swiper-button-disabled {
  color: var(--dark-grey);
}

.hero-swiper-previous {
  left: 8px;
  top: 50%;
}
.hero-swiper-next {
  right: 8px;
  top: 50%;
}
.hero-swiper-next:not(.swiper-button-disabled):hover,
.hero-swiper-previous:not(.swiper-button-disabled):hover {
  opacity: 0.8;
  transition: all 0.2s;
}
.projects-filter {
  display: none;
  visibility: hidden;
}
.projects-filter-select {
  margin-bottom: 8px;
}

.projects-block {
  margin-bottom: 80px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.project-tabs {
  margin-bottom: 16px;
  height: 100%;
  position: relative;
  overflow-y: hidden;
}

.project-tab {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  display: none;
}

.project-tab.active {
  display: flex;
  opacity: 1;
}

.projects-block .project-button {
  max-width: calc(100% - 32px);
  margin: 0 16px;
}

.contacts-section h2 {
  margin: 0 16px 16px;
}
.contacts-grid {
  display: grid;
  grid-template-columns: 100px auto;
  margin: 0 16px 16px;
  max-width: 100%;
}
.contacts-grid > * {
  display: flex;
  min-height: 40px;
  align-items: flex-start;
}
.contacts-grid > *:nth-child(1n) {
  justify-content: left;
}

.contacts-grid > *:nth-child(2n) {
  justify-content: right;
}

.contacts-map {
  max-width: 100%;
  height: 240px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  margin: 0 16px 16px;
}
.contacts-navigate-button {
  margin: 0 16px;
  width: auto;
}
.contacts-address-grid {
  display: grid;
  margin: 0 16px 16px;
  grid-template-columns: auto auto;
}
.contacts-section-address {
  line-height: 1.5rem;
  text-align: right;
}
.messengers-label {
  margin-top: 8px;
}

.footer-wrapper {
  margin-bottom: 40px;
  padding: 16px 16px 0;
  border-top: solid 2px var(--light-grey);
}
.footer-logo {
  margin-bottom: 16px;
}

.footer-grid {
  display: grid;
  grid-template-columns: auto auto;
}
.footer-grid span {
  text-align: right;
}

.filter-link {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  margin-right: 12px;
  background-color: var(--light-grey);
  cursor: pointer;
  transition: all 0.2s;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
}
.filter-link.active {
  color: var(--accent-blue);
  border-bottom: solid 2px var(--accent-blue);
  background-color: transparent;
}
.filter-link:not(.active):hover {
  border-color: var(--main-black);
  border-bottom: solid 2px var(--main-black);
  background-color: transparent;
  transition: all 0.2s;
}
.link-decorated {
  color: var(--accent-blue);
  text-decoration: underline;
}

/* custom select styles */
/* The container must be positioned relative: */
.custom-select {
  font-family: var(--main-font);
  position: relative;
  border-radius: 8px;
  border: solid 1px var(--main-black);
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}
.custom-select:hover {
  border-color: var(--accent-blue);
}

.custom-select select {
  display: none !important; /*hide original SELECT element: */
}

.select-selected {
  background-color: var(--main-white);
  width: 100%;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 12px;
  right: 12px;
  width: 10px;
  height: 10px;
  border-left: 2px solid var(--main-black);
  border-bottom: 2px solid var(--main-black);
  transform: rotate(-45deg);
  transition: all 0.2s;
}
.custom-select.blue-select-border {
  border-color: var(--accent-blue);
}
.custom-select.blue-select-border:hover {
  border-color: var(--main-black);
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  top: 16px;
  border-left: none;
  border-bottom: none;
  border-top: 2px solid var(--main-black);
  border-right: 2px solid var(--main-black);
}
.custom-select:hover .select-selected:after,
.custom-select:hover .select-selected.select-arrow-active:after {
  border-color: var(--accent-blue);
}

.custom-select.blue-select-border .select-selected:after,
.custom-select.blue-select-border .select-selected.select-arrow-active:after {
  border-color: var(--accent-blue);
}
.custom-select.blue-select-border:hover .select-selected:after,
.custom-select.blue-select-border:hover
  .select-selected.select-arrow-active:after {
  border-color: var(--main-black);
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: var(--main-black);
  padding: 8px 16px;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: var(--main-white);
  border-radius: 8px;
  top: calc(100% + 2px);
  left: 0;
  right: 0;
  z-index: 99;
  border: solid 1px var(--light-grey);
}
.select-items > div {
  height: 40px;
  border-bottom: solid 1px var(--light-grey);
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  color: var(--accent-blue);
}
/* end of custom select styles */

.spoiler {
  max-height: 1000px;
  overflow: hidden;
  position: relative;
}

.spoiler.spoiler-closed {
  max-height: 195px;
  overflow: hidden;
  position: relative;
  background-color: var(--main-white);
}

.spoiler-activator {
  all: unset;
  position: absolute;
  bottom: 0;
  height: 40px;
  background-color: var(--main-white);
  border-bottom: solid 2px var(--main-black);
  color: var(--main-black);
  margin-right: auto;
  margin-bottom: 0;
  cursor: pointer;
  font-size: 16px;
  line-height: 21px;
}
.spoiler-activator:hover {
  opacity: 0.8;
}
.spoiler-activator.spoiler-closed {
  color: var(--accent-blue);
  border-bottom: solid 2px var(--accent-blue);
}

.spoiler:not(.spoiler-closed) > .spoiler-overlay {
  display: flex;
  position: static;
  height: 40px;
}

.spoiler-overlay {
  display: flex;
  width: 100%;
  position: absolute;
  height: 54px;
  background-color: var(--main-white);
  bottom: 0;
}

@media only screen and (min-width: 390px) {
  .wrapper {
    width: calc(100% - 24px);
    margin: 0 12px;
  }
  .portfolio-tab {
    overflow: visible;
  }
  .project-tabs {
    overflow: visible;
  }
  .hero-swiper {
    position: relative;
    margin-left: -12px;
    margin-right: -12px;
    width: 100vw;
  }
  .swiper-slide {
    height: 100%;
    width: 100vw;
    border-radius: 8px;
    overflow: hidden;
  }
  .swiper-slide-content {
    left: 24px;
  }
  .hero-swiper-next {
    right: calc(3vw + 24px);
  }
  .hero-swiper-previous {
    left: calc(3vw + 24px);
  }
  .swiper-pagination {
    left: calc(3vw + 24px);
  }
  .swiper-slide-next,
  .swiper-slide-prev {
    opacity: 0.4;
  }
}

@media only screen and (min-width: 768px) {
  .headline-1 {
    font-size: 34px;
    line-height: 37.4px;
  }
  .wrapper {
    width: calc(100% - 48px);
    margin: 0 24px 80px;
  }
  .hero-intro {
    display: grid;
    grid-template-columns: auto 348px;
  }
  .container-colorized .body-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 18.2px;
  }

  .main-header {
    grid-template-columns: 1fr 1fr;
    height: 80px;
    align-items: center;
    padding: 0;
  }

  .header-logo {
    height: 35px;
    width: auto;
  }

  .main-title {
    margin-top: auto;
  }
  .header-desktop-menu {
    display: none;
    visibility: hidden;
  }
  .main-title {
    padding: 0;
    margin-right: 24px;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: bottom;
  }
  .hamburger-button {
    margin-left: 24px;
  }
  .phone-link {
    margin-right: 40px;
  }
  .advantages-container {
    grid-template-columns: 1fr 1fr 1fr;
    height: 230px;
  }
  .header-contacts .header-messenger-link {
    visibility: visible;
    display: block;
  }
  .popup-menu-wrapper {
    width: 348px;
  }
  .projects-filter {
    display: flex;
    visibility: visible;
    margin-bottom: 24px;
  }

  .project-tabs {
    height: 100%;
    width: 100vw;
    overflow-y: visible;
  }

  .project-tabs-controls {
    margin-left: 0;
  }

  .projects-actions {
    flex-direction: row;
    width: 100%;
  }

  .swiper-slide img {
    width: auto;
    height: 100%;
  }
  .swiper-slide-content {
    left: 24px;
    bottom: 24px;
  }

  .swiper-slide-next,
  .swiper-slide-prev {
    opacity: 0.4;
  }

  .hero-swiper-previous {
    left: 24px;
    top: 50%;
  }
  .hero-swiper-next {
    right: 24px;
    top: 50%;
  }

  .spoiler.spoiler-closed {
    max-height: 155px;
  }

  .swiper-pagination {
    position: absolute;
    bottom: 40px;
    left: 24px;
    height: 10px;
    z-index: 100;
    width: 100%;
    max-width: calc(100vw - 48px);
    display: flex;
    justify-content: center;
  }

  .projects-block a.project-button {
    margin: 0 0 0 auto;
    display: flex;
    width: auto;
    white-space: nowrap;
    min-width: auto;
    flex-wrap: nowrap;
    flex-shrink: 0;
    margin-top: 8px;
  }

  .project-tabs {
    width: 100%;
  }
  .hero-swiper {
    position: relative;
    width: 100%;
    height: 400px;
    margin-left: 0;
    margin-right: 0;
    overflow: visible;
  }

  .projects-filter-select {
    visibility: hidden;
    display: none;
  }

  .contacts-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
  }
  .contacts-grid {
    grid-template-columns: 130px auto;
    margin-left: 0;
  }
  .contacts-wrapper .headline-2 {
    margin-left: 0;
  }
  .contacts-grid > *:nth-child(2n) {
    justify-content: left;
  }
  .contacts-section-address {
    text-align: left;
  }
  .contacts-navigate-button {
    margin: 0;
  }
  .contacts-map-grid {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .contacts-map {
    width: 100%;
    flex-grow: 1;
    border-radius: 20px;
  }
  .footer-logo {
    margin-bottom: 0;
    margin-right: 40px;
  }
  footer.footer-wrapper {
    display: flex;
    padding-top: 24px;
    align-items: flex-end;
    margin-bottom: 24px;
  }
  .footer-grid {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }
}

@media only screen and (min-width: 1200px) {
  .headline-1 {
    font-size: 60px;
    line-height: 66px;
  }
  .headline-2 {
    font-size: 40px;
    line-height: 36px;
  }
  .subhead {
    font-size: 24px;
    line-height: 31.2px;
  }
  .body-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 20.8px;
    text-align: left;
    color: var(--main-black, #131313);
  }
  .container-colorized .body-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 20.8px;
  }
  .caption {
    font-size: 16px;
    line-height: 20.8px;
  }
  .hero-swiper {
    height: 576px;
  }
  .swiper-pagination {
    bottom: 24px;
  }

  /* new styles */
  .swiper-slide img {
    height: 100%;
    width: auto;
    min-height: 100%;
    min-width: 100%;
  }

  .hero-swiper {
    overflow: visible;
  }

  .swiper-slide-prev,
  .swiper-slide-next {
    overflow: hidden;
    border-radius: 8px;
  }
  .hero-swiper {
    height: 720px;
    margin-left: 0;
    margin-right: 0;
    overflow-x: visible;
    width: 100%;
  }
  .wrapper {
    margin: 0 24px 160px;
  }
  .hero-slider {
    margin-bottom: 24px;
  }

  .hero-swiper {
    height: 576px;
  }
  .swiper-pagination {
    bottom: 24px;
  }

  .hero-swiper-next,
  .hero-swiper-previous {
    width: 48px;
    height: 48px;
  }
  /* swiper end */

  .container-colorized {
    padding: 40px;
  }
  .hero-intro {
    display: grid;
    grid-template-columns: auto 525px;
  }
  .project-tabs {
    height: 100%;
    width: 100%;
  }

  .advantages-container {
    grid-gap: 24px;
    height: 300px;
  }
  .hamburger-button {
    display: none;
    visibility: hidden;
  }
  .main-header {
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 80px;
  }
  .header-desktop-menu {
    visibility: visible;
    display: flex;
    justify-content: center;
  }
  .project-tabs {
    height: 100%;
  }

  .filter-link {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
  }

  .contacts-wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--light-grey);
    border-radius: 20px;
    padding: 40px 24px;
  }
  .contacts-wrapper .headline-2 {
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 1280px) {
  .wrapper {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero-swiper {
    height: 600px;
  }
}

@media only screen and (min-width: 1440px) {
  .wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero-swiper {
    height: 650px;
    overflow-x: visible;
  }

}

@media only screen and (min-width: 1920px) {
  .wrapper {
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero-swiper {
    height: 1000px;
  }
}
